/* Sticky footer style */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.footer a{
  color: #000;
}

@media screen and (max-width: 1023px) {
  .footer {
    height: auto;
  }

  body {
    margin-bottom: 20%;
  }
}
